$light-gold: #f3f3e9;
$yellow: #c1ac35;

.about-us{
	height: 630px;
	background-color: $light-gold;

	.container{
		height: 100%;
		position: relative;
	}

	.icon{
		width: 80px;
		height:80px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top:0;
		border-radius: 100%;

		background: url(../images/aboutus-icon.png);
		background-repeat: no-repeat;
		background-color: $yellow;
		background-position: 50% 50%;
	}

	.text-content{
		text-align: center;
		max-width: 60%;
		margin-left: auto; 
		margin-right: auto;
		margin-top:60px;
	}

	.info{
		position: absolute;
		bottom: 70px;

		.img-content{
			height: 260px;
			width: 50%;
			background: url(../images/aboutus.png);
			background-repeat: no-repeat;
			background-size: cover;
			display:inline-block;
			float:left;
		}

		.text-content{
			display:inline-block;
			float:left;
			width: 50%;
			text-align: left;
			padding: 20px;
			height: 260px;
			margin-top:0px;
			background-color: $white;
			position: relative;

			.title{
				font-family: 'Oswald-Regular';
				font-size: 20px;
			}

			.content{
				font-family: 'Open Sans';
				font-size: 1em;
				margin-top:20px;
			}

			.control{
				position: absolute;
				bottom: 30px;
				left: 20px;

				a{
					background: $red-velvet;
					color: $white;
				}
			}
		}

		.tab-container{
			width: 100%;

			.nav-tabs{
			width: 100%;

				li{
					width: 33.33%;
					height: 50px;
					background-color: $yellow;
					border: transparent;
					a{
						border-radius: 0px;
						height: 100%;
						font-family: 'Oswald-Regular';
						font-size: 20px;
						color: white;
						border: transparent;
						margin-right: 0px;
						text-align:center;
					}

					&.active,
					&:hover{
						a{
							color: $yellow;
						}
					}
				}
			}

			.tab-content{
				background-color: $white;
				padding: 20px;
				height:210px;
				width: 100%;
			}
		}
	}

	.title{
		font-family: 'GrandHotel-Regular';
		font-size: 42px;
	}

	.subtitle{
		font-family: 'Open Sans';
		font-size: 16px;
	}
}

.our_service{
	height: 475px;
	background-color: $white;

	.text-content{
		text-align: center;
		max-width: 60%;
		margin-left: auto; 
		margin-right: auto;
		margin-top:50px;

		.title{
			font-family: 'Oswald-Regular';
			font-size: 30px
		}

		.subtitle{
			font-family: 'Open Sans';
			font-size: 1em;
			margin-top:20px;
		}
	}

	.services{
		margin-top:40px;

		.service{
			.service-icon{
				height:44px;
				width: 44px;
				position: relative;

				img{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.service-title{
				font-family: 'Oswald-Regular';
				font-size: 20px;
				text-decoration: none;
				color: #000000;
				padding-bottom: 10px;
				border-bottom: 1px solid #000000;
				display:inline-block;
			}

			.service-content{
				font-family: 'Open Sans';
				font-size: 1em;
				color: #000000;
				max-height: 60px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.control{
				a{
					color: #000000;
					font-family: 'Open Sans';
				}
			}
		}
	}
}

.testimonial{
	height: 280px;
	background-color: $light-gold;
	position: relative;

	.header{
		position: relative;
		display:block;
		width :100%;
		clear:both;
		height: 60px;

		>img{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%) translateY(100%);
		}
	}

	.slider{
		color: #000000;
		display:block;
		margin-top:30px;
		width: 100%;
		height: 130px;

		.item{
			height: 100px;
			position: relative;

			>span{
				font-family: 'Open Sans';
				font-size: 1em;
				display:block;
				margin-top:30px;
				text-align: center;

				&:before,
				&:after{
					content: '"';
				}
			}

			h3{
				font-family: 'Oswald-Regular';
				font-size: 1em;
				color: #000000;
				margin-top:30px;
				text-align: center;
			}
		}

		.owl-buttons{
			display:none;
		}

		.owl-page{
			>span{
				background: #e0d7a2;
			}
			
			&.active{
				span{
					background: $yellow;
				}
			}
		}
	}
}

.apointment{
	height: 440px;
	background: url(../images/apointment.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	.main-form{
		width :40%;
		height: 320px;
		position: absolute;
		background-color: #e3e3e4;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.partners{
	height: 100px;
	background-color: $white;
	img{
		padding-top:35px;
		margin-right:25px;

		&:last-child{
			margin-right: 0px;
		}
	}

	// box-shadow: 0 8px 8px -8px #000;
	// z-index: 2;
}

.map{
	height: 340px;
	.map-content{
		height: 100%;
		width: 100%;
	}
}

