// color
$brown : #302818;
$white : #fff;
$brown-border: #595346;
$red-velvet: #8a0917;

// parameters
$top_height: 35px;

.topsection{
	width: 100%;
	background-color: $brown;
	height: $top_height;
}

.infos,.connect{
	display:inline-block;
	color: $white;

	div, span{
		display:inline-block;
		line-height: $top_height;
		vertical-align: middle;
		font-family: 'Open Sans';
	}

	a{
		color: $white;
		display: inline-block;
		width: 45px;
		height: 100%;
		line-height: $top_height;
		position: relative;

		i{
			display:block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%); 
		}
	}

	>div{
		margin-right: 10px;

		&:last-child{
			margin-right:0px;
		}
	}
}

.connect{
	.sns-services{
		width: auto;
		height: $top_height;

		a{
			display:inline-block;
			border-right: 1px solid $brown-border;

			&:last-child{
				border-right: transparent;
			}
		}
	}
}

.header{
	height: 70px;
	position:relative;
	margin-bottom: 0px !important;

	.logo{
		display:inline-block;
		line-height: 70px;
		vertical-align: middle;
		position: absolute;
		top:50%;
		transform: translateY(-50%);

		a{
			font-family: 'GrandHotel-Regular';
			color: $red-velvet;
			font-size: 48px;
			line-height: 70px;
			vertical-align: middle;
			text-decoration: none;
		}
	}

	.navbar-nav{
		height: 70px;

		.nav-item{

			a{
				font-family: 'Oswald-Regular';
				font-size: 20px;
				color:$brown;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 68px;
				vertical-align: middle;

				padding-top:0px;
				padding-bottom:0px;

				&:hover,
				&:focus,
				&:visited{
					background-color: $white;
					outline: transparent !important;
					outline-offset: 0px !important;
				}
			}

			&:last-child{
				a{
					padding-right: 0px;
				}
			}
		}
	}
}

.welcome{
	height:530px;
	background: url(../images/background1.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;

	.container{
		height: 100%;
		position:relative;
	}

	.welcome_text{
		font-family: 'Oswald-Bold';
		font-size: 61.67px;
	}

	.sub_text{
		font-family: 'Open-Sans';
		font-size: 20.49px;
	}

	.text_content{
		position:absolute;
		top:50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.control{
		display:block;
		clear:both;
	}

	.btn{
		background-color: $red-velvet;
		width: auto;
		color: white;
		margin-top:40px;
	}
}