#appointment-section {
    margin-top: 50px;
    .jarallax {
        height: 450px;
    }
}

#slider-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#owl-demo .item {
    margin: 10px;
}

#owl-demo .item img,
#owl-demo-1 .item img {
    display: block;
    width: 100%;
    height: auto;
}

.map-address {
    text-align: center;
}